<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Библиотека</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/logo.png" alt="Лого библиотеки">
        </div>
        <nav>
            <ul>
                <li><a href="/login" >Войти</a></li>
                <li><a href="/register">Зарегистрироваться</a></li>
                <li><a href="/books">Наши книги</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="welcome">
            <h1>Добро пожаловать в нашу библиотеку!</h1>
            <p>Здесь вы можете найти самые интересные книги и зарегистрироваться для получения доступа ко всему каталогу.</p>
        </section>
    </main>

    <script src="JavaScript/home.js"></script>
</body>
</html>
