<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Читательский билет</title>
    <link rel="stylesheet" href="css/librarianHomePage.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/logo.png" alt="Лого библиотеки">
        </div>
        <nav>
            <ul>
                <li><a href="/">Подобрать экземпляр</a></li>
                <li><a href="/issueReceivedBook" class="active">Выдать Забронированный экземпляр</a></li>
                <li><a href="/acceptBook">Получить экземпляр</a></li>
                <li><a href="/bookEditions">Работа с изданиями</a></li>
                <li><a href="/bookCopies">Работа с экземлярами</a></li>
                <li><a href="/libCards">Управление билетами</a></li>
                <li><a href="/logout">Выйти</a></li>
            </ul>
        </nav>
    </header>

    <!-- Контейнер для отображения и изменения читательского билета -->
    <div class="container">
        <h1>Введите id билета читателя</h1>
        <form id="searchForm">
            <label for="libCardId">Id билета</label>
            <input type="text" id="libCardId" name="libCardId" >

          
            <input type="submit" value="Поиск забронированных книг">
        </form>
    </div>

    <h2>Забронированные читателем книги</h2>
    <div id="searchResults"></div>

   

    <script src="JavaScript/issueReceivedBook.js"></script>
</body>
</html>
