body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-around;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul {
    list-style-type: none;
    padding: 5px;
}

nav ul li {
    display: inline-block;
    margin: 15px 15px;
}

header nav a.active {
    background-color: #ffffff;
    color: #4CAF50;
    font-weight: bold;
}

header nav a:hover {
    background-color: #45a049;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.book-result {
    background-color: #ffffff; /* Цвет фона для каждой книги */
    border: 1px solid #ccc; /* Граница вокруг блока */
    border-radius: 4px; /* Закругление углов */
    padding: 15px; /* Отступ внутри блока */
    margin: 10px 0; /* Отступ между блоками */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень */
    text-align: center;
}

.book-result strong {
    color: #4CAF50; /* Цвет для выделенных заголовков */
}

.book-result p {
    margin: 5px 0; /* Отступы для параграфов */
}

/* Стили для разделителей между результатами */
.book-result hr {
    border: 0; /* Убираем стандартную границу */
    height: 1px; /* Высота линии */
    background: #e0e0e0; /* Цвет линии */
    margin: 10px 0; /* Отступы вокруг линии */
}
h1 {
    text-align: center;
    color: #333;
}
h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input[type="text"], form input[type="tel"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
