body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-around;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav a.active {
    background-color: #ffffff;
    color: #4CAF50;
    font-weight: bold;
}

header nav a:hover {
    background-color: #45a049;
}

.book-result {
    background-color: #ffffff; /* Цвет фона для каждой книги */
    border: 1px solid #ccc; /* Граница вокруг блока */
    border-radius: 4px; /* Закругление углов */
    padding: 15px; /* Отступ внутри блока */
    margin: 10px 0; /* Отступ между блоками */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень */
    text-align: center;
}

.book-result strong {
    color: #4CAF50; /* Цвет для выделенных заголовков */
}

.book-result p {
    margin: 5px 0; /* Отступы для параграфов */
}

/* Стили для разделителей между результатами */
.book-result hr {
    border: 0; /* Убираем стандартную границу */
    height: 1px; /* Высота линии */
    background: #e0e0e0; /* Цвет линии */
    margin: 10px 0; /* Отступы вокруг линии */
}
h1 {
    text-align: center;
    color: #333;
}
h2 {
    text-align: center;
    color: #333;
}